@media (max-width: 575.98px){
   
    body{
        background: linear-gradient(90deg, #0F2027,#151635,#0f023e  );
    }
    .container{
        width: 575.98px;
    }
    .sideBar img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .sideBar .social {
        width: 20px;
        height: 20px;
    }
    .sideBar {
        width: 95%;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .mainCard {
        margin-left: 300px;
    }
    
    .card:hover::before {
        transform: rotate(90deg) scaleX(1.1) scaleY(0.91);
    }
    .welcome {
        font-size: 19px;
        padding-top: 8px;
        line-height: 35px;
    }
    .welcome span {
        font-size: 24px;
    }
    .card p:last-child {
        font-size: 12px;
        font-weight: 200;
        letter-spacing: 1.2px;
        margin-top: 20px;
    }
    button {
        width: 82px;
        font-size: 19px;
    }
    .cardButton {
        padding: 8px 22px;
    }
    .card {
        width: 305px;
        height: 339px;
    }
    .card::before {
        width: 315px;
        height: 345px;
    }
    .gameTitle h1 {
        padding-top: 30px;
        font-size: 26px;
    }
    h2 {
        margin-top: 5px;
        margin-bottom: -5px;
        font-size: 34px;
        
    }
    .main {
        width: 267px;
        padding: 27px;
    }
    .Player023Heading {
        font-size: 19px;
    }
    input {
        width: 308px;
        height: 32px;
        font-size: 20px;
    }
   .playerOneButton {
        width: 150px;
        padding: 8px 0px;
        margin-left: 37px;
        margin-top: 30px;
    }
    input::placeholder{
        font-size: 18px;
    }
    .error {
        font-size: 22px;
    }
    .playerTwoButton {
        margin-top: 36px;
    }
    .chanceNumber, .chanceNumber3 {
        font-size: 16px;
        margin-bottom: 14px;
    } 
    .playerThreeButton {
        margin-top: 36px;
    }
    .result {
        font-size: 22px;
    }
    .winner img {
        width: 200px;
        height: 200px;
        margin-top: 28px;
    }
    .inputNumber {
        font-size: 20px;
    }

    .mainDiv {
        width: 301px;
        height: 411px;
        margin-top: 40px;
    }
 

}
/* ----------------------------------------------------------- */
/* ============= md device ============================ */
@media (min-width: 576px) and (max-width: 767.98px){
    body{
        background: linear-gradient(90deg, #0F2027,#151635,#0f023e  );
    }
   
    .sideBar img {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    .sideBar .social {
        width: 20px;
        height: 20px;
    }
    .sideBar {
        width: 95%;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .mainCard {
        margin-left: 300px;
    }
    .card:hover::before {
        transform: rotate(90deg) scaleX(1.1) scaleY(0.91);
    }
    .welcome {
        font-size: 19px;
        padding-top: 8px;
        line-height: 35px;
    }
    .welcome span {
        font-size: 24px;
    }
    .card p:last-child {
        font-size: 12px;
        font-weight: 200;
        letter-spacing: 1.2px;
        margin-top: 20px;
    }
    button {
        width: 82px;
        font-size: 19px;
    }
    .cardButton {
        padding: 8px 22px;
    }
    .card {
        width: 305px;
        height: 339px;
    }
    .card::before {
        width: 315px;
        height: 345px;
    }
    .gameTitle h1 {
        padding-top: 30px;
        font-size: 26px;
    }
    h2 {
        margin-top: 5px;
        margin-bottom: -5px;
        font-size: 34px;
        
    }
    .main {
        width: 300px;
        padding: 27px;
    }
    .Player023Heading {
        font-size: 23px;
    }
    input {
        width: 308px;
        height: 32px;
        font-size: 20px;
    }
   .playerOneButton {
        width: 150px;
        padding: 8px 0px;
        margin-left: 92px;
        margin-top: 30px;
    }
    input::placeholder{
        font-size: 18px;
    }
    .error {
        font-size: 22px;
    }
    .playerTwoButton {
        margin-top: 36px;
    }
    .chanceNumber, .chanceNumber3 {
        font-size: 16px;
        margin-bottom: 14px;
    } 
    .playerThreeButton {
        margin-top: 36px;
    }
    .result {
        font-size: 22px;
    }
    .winner img {
        width: 200px;
        height: 200px;
        margin-top: 28px;
    }
    .inputNumber {
        font-size: 20px;
    }

    .mainDiv {
        width: 365px;
        height: 411px;
        margin-top: 40px;
    }

}
/* ------------------------------------------------------------------ */
/* ============= lg device ============================ */
@media (min-width: 768px) and (max-width: 991.98px){
     body{
        background: linear-gradient(90deg, #0F2027,#151635,#0f023e  );
    }
   
    .sideBar img {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    .sideBar .social {
        width: 30px;
        height: 30px;
    }
    .sideBar {
        width: 95%;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .mainCard {
        margin-left: 300px;
    }
    .card:hover::before {
        transform: rotate(90deg) scaleX(1.1) scaleY(0.91);
    }
    .welcome {
        font-size: 19px;
        padding-top: 8px;
        line-height: 35px;
    }
    .welcome span {
        font-size: 24px;
    }
    .card p:last-child {
        font-size: 12px;
        font-weight: 200;
        letter-spacing: 1.2px;
        margin-top: 20px;
    }
    button {
        width: 82px;
        font-size: 19px;
    }
    .cardButton {
        padding: 8px 22px;
    }
    .card {
        width: 305px;
        height: 339px;
    }
    .card::before {
        width: 315px;
        height: 345px;
    }
    .gameTitle h1 {
        padding-top: 30px;
        font-size: 26px;
    }
    h2 {
        margin-top: 5px;
        margin-bottom: -5px;
        font-size: 34px;
        
    }
    .main {
        width: 300px;
        padding: 27px;
    }
    .Player023Heading {
        font-size: 23px;
    }
    input {
        width: 308px;
        height: 32px;
        font-size: 20px;
    }
   .playerOneButton {
        width: 150px;
        padding: 8px 0px;
        margin-left: 92px;
        margin-top: 30px;
    }
    input::placeholder{
        font-size: 18px;
    }
    .error {
        font-size: 22px;
    }
    .playerTwoButton {
        margin-top: 36px;
    }
    .chanceNumber, .chanceNumber3 {
        font-size: 16px;
        margin-bottom: 14px;
    } 
    .playerThreeButton {
        margin-top: 36px;
    }
    .result {
        font-size: 22px;
    }
    .winner img {
        width: 200px;
        height: 200px;
        margin-top: 28px;
    }
    .inputNumber {
        font-size: 20px;
    }

    .mainDiv {
        width: 365px;
        height: 411px;
        margin-top: 40px;
    }
}
/* ------------------------------------------------------------------ */
/* ============= lg device ============================ */
@media (min-width: 992px) and (max-width: 1199.98px){
    body{
        background: linear-gradient(90deg, #0F2027,#151635,#0f023e  );
    }
   
    .sideBar img {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    .sideBar .social {
        width: 30px;
        height: 30px;
    }
    .sideBar {
        width: 95%;
        height: 80px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .mainCard {
        margin-left: 300px;
    }
    .card:hover::before {
        transform: rotate(90deg) scaleX(1.1) scaleY(0.91);
    }
    .welcome {
        font-size: 19px;
        padding-top: 8px;
        line-height: 35px;
    }
    .welcome span {
        font-size: 24px;
    }
    .card p:last-child {
        font-size: 12px;
        font-weight: 200;
        letter-spacing: 1.2px;
        margin-top: 20px;
    }
    button {
        width: 82px;
        font-size: 19px;
    }
    .cardButton {
        padding: 8px 22px;
    }
    .card {
        width: 305px;
        height: 339px;
    }
    .card::before {
        width: 315px;
        height: 345px;
    }
    .gameTitle h1 {
        padding-top: 30px;
        font-size: 26px;
    }
    h2 {
        margin-top: 5px;
        margin-bottom: -5px;
        font-size: 34px;
        
    }
    .main {
        width: 300px;
        padding: 27px;
    }
    .Player023Heading {
        font-size: 23px;
    }
    input {
        width: 308px;
        height: 32px;
        font-size: 20px;
    }
   .playerOneButton {
        width: 150px;
        padding: 8px 0px;
        margin-left: 92px;
        margin-top: 30px;
    }
    input::placeholder{
        font-size: 18px;
    }
    .error {
        font-size: 22px;
    }
    .playerTwoButton {
        margin-top: 36px;
    }
    .chanceNumber, .chanceNumber3 {
        font-size: 16px;
        margin-bottom: 14px;
    } 
    .playerThreeButton {
        margin-top: 36px;
    }
    .result {
        font-size: 22px;
    }
    .winner img {
        width: 200px;
        height: 200px;
        margin-top: 28px;
    }
    .inputNumber {
        font-size: 20px;
    }

    .mainDiv {
        width: 365px;
        height: 411px;
        margin-top: 40px;
    }
}